<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="./static/detail/style.css">
  <title>G.M.O</title>

  <script>
    $(document).ready(function() {
      post_list_call();
    })

    function post_list_call() {
      $.ajax({
        type: "GET",
        url: "/post",
        data: {},
        success: function(res) {
          console.log(res)
          let posts = res["posts"]
          for (let i = 0; i < posts.length; i++) {
            let title = posts[i]["title"]
            let img = posts[i]["img"]
            let comment = posts[i]["comment"]

            let temp_html = `
              <li class="card-item">
                <div class="card">
                    <div class="card-image"><img src="${img}"></div>
                    <div class="card_content">
                    <h2 class="card_title">${title}</h2>
                    <p class="card_text">${comment}</p>
                    <a href="/detail"><button class="btn card_btn">Read More</button></a>
                  </div>
                </div>
              </li>
            `
            $(".cards").append(temp_html)
          }
        }
      })
    }
  </script>
</head>

<body>
  <!-- nav bar 시작 -->
  <nav class="navbar">
    <a href="/" class="logo">G.M.O</a>
    <ul class="main-nav">
      <li><a href="#" class="nav-links">Menu1</a></li>
      <li><a href="#" class="nav-links">Menu2</a></li>
      <li><a href="#" class="nav-links">Menu3</a></li>
      <li><a href="#" class="nav-links">Menu4</a></li>
    </ul>
  </nav>
  <!-- nav bar 끝 -->

  <main>
    <div class="list">
      <ul class="cards">
      </ul>
    </div>

    <div class="content">
      <div class="content-title">
        <h2>Title</h2>
        <span class="star-rate">⭑⭑⭑⭑⭑</span>
      </div>
      <img src="https://i.redd.it/b3esnz5ra34y.jpg">
      <p class="content-desc">너무 조아요</p>


      <div class="comment-head">
        <span> 댓글 {n}개</span>
      </div>

      <div class="post-comment">
        <span>댓글달기</span>
        <div class="comment-comment">
          <input placeholder="Add Comment...">
        </div>
        <div class="comment-profile">
          <input placeholder="Author">
          <input placeholder="Password">
        </div>
        <div>
          <button>나도 한 마디</button>
        </div>
      </div>

      <div class="comments">

        <div class="comment">
          <h4>김성호</h4>
          <span>저도 조아요</span>
          <a href="#" class="close">&times;</a>
        </div>

        <div class="comment">
          <h4 class="comment-author">김성호</h4>
          <p>저도 조아요</p>
          <a href="#" class="close">&times;</a>
        </div>

        <div class="comment">
          <h4 class="comment-author">김성호</h4>
          <p>저도 조아요</p>
          <a href="#" class="close">&times;</a>
        </div>

        <div class="comment">
          <h4 class="comment-author">김성호</h4>
          <p>저도 조아요</p>
          <a href="#" class="close">&times;</a>
        </div>

        <div class="comment">
          <h4 class="comment-author">김성호</h4>
          <p>저도 조아요 저도 조아요 저도 조아요 저도 조아요</p>
          <a href="#" class="close">&times;</a>
        </div>

      </div>

    </div>
  </main>
</body>
</html>